<h1>Editing Book</h1>
<div class="field">
     <label for="book_title">Title</label>
     <input class="book_title" type="text" name="book[title]" id="book_title">
   </div>
  <div class="filed">
    <label for="book_body">Body</label>
    <textarea class="book_body" name="book[body]" id="book_body"></textarea>
    </div>
    <div class="actions">
      <input type="submit" name="commit" value="Create Book" date-disable-with="Update">
    </div>
<form class="edit_book" id="edit_book_53826" action="/books/53826" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="_method" value="patch"><input type="hidden" name="authenticity_token" value="UI5UEwgQk0ZjMmbXzi5eQOlNsBV021KLnN9l13BBkCrL2+aVNtPL4Iq1KzRkjBbm2JR9+WJVVHYQzbdpdOmuMQ==">

  <div class="field">
    <label for="book_title">Title</label>
    <input class="book_title" type="text" value="リーダブルコード" name="book[title]" id="book_title">
  </div>

  <div class="field">
    <label for="book_body">Body</label>
    <textarea class="book_body" name="book[body]" id="book_body">より良いコードを書くためのシンプルで実践的なテクニック</textarea>
  </div>

  <div class="actions">
    <input type="submit" name="commit" value="Update Book" data-disable-with="Update Book">
  </div>
</form>